div.sound.col-md-4.col-sm-6
	div.soundContent
		a(href="/sound/#{sound.uri}")
			h3.name #{sound.name}
		ul.tags 
			each tag in sound.tags
				li
					a(href="/tag/#{tag.uri}") ##{tag.name}
		a(href="/download/#{sound.assetId}&#{sound.uri}.aif") 
			p #{sound.uri}.aif
		a(href="/download/#{sound.assetId}&#{sound.uri}.mp3")
			p #{sound.uri}.mp3
		a(href="/download/#{sound.assetId}&#{sound.uri}.ogg")
			p #{sound.uri}.ogg
		div.btn-group.controls
			button.btn.btn-default.toggle
				span.off.glyphicon.glyphicon-play
				span.on.glyphicon.glyphicon-stop
				span.timeline
					span.bar
			a.download.btn.btn-default(href="/sounds/originals/#{sound.assetId}.#{sound.type}" title="#{sound.type} - #{bytesToSize(sound.size)}" data-toggle="tooltip")
				span.glyphicon.glyphicon-download-alt
			button.btn.btn-default.toggle
				span.off.glyphicon.glyphicon-heart-empty
				span.on.glyphicon.glyphicon-heart