extend base

append content
	.col-md-2.col-sm-3.hidden-xs
		.list-group.full-width
			if (user.privilege >= privilege.editor)
				a.list-group-item(href="/admin/sounds" class=isActive('/admin/sounds'))
					span.icon.glyphicon.glyphicon-headphones
					| Sounds
				a.list-group-item(href="/admin/categories" class=isActive('/admin/categories'))
					span.icon.glyphicon.glyphicon-folder-open
					| Categories
				a.list-group-item(href="/admin/tags" class=isActive('/admin/tags'))
					span.icon.glyphicon.glyphicon-tags
					| Tags
			if (user.privilege == privilege.admin)
				a.list-group-item(href="/admin/users" class=isActive('/admin/users'))
					span.icon.glyphicon.glyphicon-th-list
					| Users
			a.list-group-item(href="/admin/profile" class=isActive('/admin/profile'))
				span.icon.glyphicon.glyphicon-user
				| Profile
			a.list-group-item(href="/admin/password" class=isActive('/admin/password'))
				span.icon.glyphicon.glyphicon-asterisk
				| Password
			a.list-group-item(href="/logout" data-toggle="confirmation")
				span.icon.glyphicon.glyphicon-log-out
				| Logout
	.col-md-10.col-sm-9
		block form