extends base

block body
	body.has-nav
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					span.navbar-brand
						if (user)
							a(href="/admin/profile")= user.name 
							span.details is bringing the 
							a(href='/') Thunder
						else
							a(href='/') Thunder
				.collapse.navbar-collapse
					ul(class="nav navbar-nav navbar-right")
						if (user)
							li(class=isActive('/favorites'))
								a(href="/favorites" title="Favorites" data-placement="bottom" data-toggle="tooltip")
									span.icon.glyphicon.glyphicon-heart
									span.hidden-lg.hidden-md.hidden-sm.visible-inline-xs Favorites
							li
								a(href="#" title="Settings" data-placement="bottom" data-toggle="dropdown")
									span.icon.glyphicon.glyphicon-cog
									span.hidden-lg.hidden-md.hidden-sm.visible-inline-xs Settings
									span.caret
								ul.dropdown-menu
									if (user.privilege >= privilege.editor)
										li(class=isActive('/admin/sounds'))
											a(href="/admin/sounds")
												span.icon.glyphicon.glyphicon-headphones
												| Sounds
										li(class=isActive('/admin/categories'))
											a(href="/admin/categories")
												span.icon.glyphicon.glyphicon-folder-open
												| Categories
										li(class=isActive('/admin/tags'))
											a(href="/admin/tags")
												span.icon.glyphicon.glyphicon-tags
												| Tags
									if (user.privilege == privilege.admin)
										li(class=isActive('/admin/users'))
											a(href="/admin/users")
												span.icon.glyphicon.glyphicon-th-list
												| Users
									li(class=isActive('/admin/profile'))
										a(href="/admin/profile")
											span.icon.glyphicon.glyphicon-user
											| Profile
									li(class=isActive('/admin/password'))
										a(href="/admin/password")
											span.icon.glyphicon.glyphicon-asterisk
											| Password
									li
										a(href="/logout")
											span.icon.glyphicon.glyphicon-log-out
											| Logout
						else 
							li
								a(href="/login" title="Login" data-placement="bottom" data-toggle="tooltip")
									span.icon.glyphicon.glyphicon-log-in
									span.hidden-lg.hidden-md.hidden-sm.visible-inline-xs Login
		main.container
			.row
				block content
		.container.text-center
			footer &copy; #{fullYear} CloudKid