extend base

append content
	.col-sm-9
		block title
		.row
			if sounds
				for sound in sounds 
					.sound.col-md-4.col-sm-6
						.soundContent
							a(href="/sound/#{sound.uri}")
								h3.name #{sound.name}
							include ../partials/tags
							.btn-group.controls
								button.btn.btn-default.toggle
									span.off.glyphicon.glyphicon-play
									span.on.glyphicon.glyphicon-stop
									span.timeline
										span.bar
								a.download.btn.btn-default(href="/download/#{sound.uri}/original" title="#{sound.type.toUpperCase()} - #{bytesToSize(sound.size)}" data-toggle="tooltip")
									span.glyphicon.glyphicon-download-alt
								include ../partials/favorite
		nav
			ul.pagination
				//first page button
				li: a(href="/page/1") start
				// the [<<] button if available
				li: a(href="/page/#{pagination.current-1}" aria-label="Previous") 
					span(aria-hidden="true") &laquo;
				// iterate the array of numbers and create links for
				// each button/page				
				for n in pagination.pages
					if (n == pagination.current)
						li.active: a(href="/page/#{n}")= n
					else
						li: a(href="/page/#{n}")= n
				// the [>>] button if available
				li: a(href="/page/#{pagination.current+1}" aria-label="Next")
					span(aria-hidden="true") &raquo;
				// last page button
				li: a(href="/page/#{pagination.total}") end
	.col-sm-3
		include ../partials/sidebar