extend base

append content
	.col-sm-9
		block title
		.row
			if sounds
				for sound in sounds 
					.sound.col-md-4.col-sm-6
						.soundContent
							a(href="/sound/#{sound.uri}")
								h3.name #{sound.name}
							include ../partials/tags
							.btn-group.controls
								button.btn.btn-default.toggle
									span.off.glyphicon.glyphicon-play
									span.on.glyphicon.glyphicon-stop
									span.timeline
										span.bar
								div.dropdown(style='display:inline')
									button.btn.btn-default.dropdown-toggle(type="button" id="menu1" data-toggle="dropdown") 
										span.glyphicon.glyphicon-download-alt
									ul(class="dropdown-menu" role="menu" aria-labelledby="menu1")
										li
											a.download(href="/download/#{sound.uri}/original") #{sound.type.toUpperCase()} - #{bytesToSize(sound.size)}
										li
											a.download(href="/download/#{sound.uri}/mp3" data-toggle="tooltip") MP3
										li
											a.download(href="/download/#{sound.uri}/ogg" data-toggle="tooltip") OGG
										li.divider
										li
											a(role="menuitem" href="/download/#{sound.uri}/original") ZIP
								include ../partials/favorite
		if (pagination.total > 1)
			nav.text-center
				ul.pagination
					if (pagination.total > pagination.size)
						li: a(href="#{pagination.base}/page/1") start
					li: a(href="#{pagination.base}/page/#{pagination.previous}") &laquo;			
					for n in pagination.pages
						if (n == pagination.current)
							li.active: a.hidden-xs(href="#{pagination.base}/page/#{n}")= n
						else
							li: a.hidden-xs(href="#{pagination.base}/page/#{n}")= n
					li: a(href="#{pagination.base}/page/#{pagination.next}") &raquo;
					if (pagination.total > pagination.size)
						li: a(href="#{pagination.base}/page/#{pagination.total}") end
	.col-sm-3
		include ../partials/sidebar