extend ../templates/admin

append title
	| Sounds - Admin - 

append form
	h2 
		span.icon.glyphicon.glyphicon-headphones
		| Sounds
	form.panel.panel-default.form-horizontal(method="post" action="/admin/sounds")
		.panel-heading
			h3.panel-title Add Sound
		.panel-body
			include ../partials/feedback
			.form-group
				label.control-label.col-sm-3(for="name") Name
				.col-sm-9
					input.form-control(type="text" name="name" id="name" data-uri="#uri" value=sound.name)
			.form-group
				label.control-label.col-sm-3(for="uri") URI
				.col-sm-9
					input.form-control(type="text" name="uri" id="uri" value=sound.uri)
			.form-group
				label.control-label.col-sm-3(for="category") Category
				.col-sm-9
					select.form-control(name="category" id="category")
						for cat in categories
							if cat._id.toString() == sound.category._id.toString()
								option(value=cat._id selected="true")=cat.name
							else
								option(value=cat._id)=cat.name
			.form-group
				label.control-label.col-sm-3(for="tags") Tags
				.col-sm-9
					input.form-control(type="text" id="tags")
					p.help-block
					if (sound.tags.length)
						ul.list-inline
							for tag in sound.tags
								li
									input(type="hidden" name="tags[]" value=tag._id)
									button.btn.btn-sm.btn-default(type="button") ##{tag.name} &times;
		
			.form-group.form-actions.text-center
					input(type="hidden" name="id" value=sound._id)
					.col-sm-9.col-sm-offset-3
						button.btn.btn-lg.btn-primary(type="submit" name="action" value="save") 
							span.icon.glyphicon.glyphicon-pencil
							| Save 
						a.btn.btn-lg.btn-default(href="/admin/sounds") 
							span.icon.glyphicon.glyphicon-remove
							| Cancel
						button.btn.btn-lg.btn-default(type="submit" name="action" value="delete") 
							span.icon.glyphicon.glyphicon-trash
							| Delete