h2
	span.icon.glyphicon.glyphicon-tags
	| Tags
div.searchForm
	input.form-control(type="text" class="text" name="search" data-toggle="dropdown" id="search" placeholder="Search")
	div.dropdown#search-list
		ul.dropdown-menu
if categories
	h2 
		span.icon.glyphicon.glyphicon-folder-open 
		| Categories
	.list-group
		for cat in categories
			if (cat.total > 0)
				a.list-group-item(href="/category/#{cat.uri}" class=isActive('/category/#{cat.uri}')) #{cat.name}
					span.badge=cat.total